[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-bcrypt = "*"
flask-migrate = "*"
pyjwt = "*"
flask-mail = "*"
pandas = "*"
openpyxl = "*"
xlrd = "*"

flask = "*"
flask-sqlalchemy = "*"
flask-socketio = "*"
flask-cors = "*"
python-socketio = "*"
python-dotenv = "*"
psycopg2-binary = "*"
alembic = "*"

requests = "*"


[dev-packages]

[requires]
python_version = "3.10"
